apiVersion: v1
kind: Service
metadata:
  name: store-svc
  namespace: default
  labels:
    app: store
spec:
  type: ClusterIP
  selector:
    app: store
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
